@media screen and (max-width: 992px) {
    /* .new-year-party h3, p, h6, img {
        display: none;
    } */
}
@media screen and (max-width: 768px) {
    .new-year-party{
        flex-direction: column;
    }
}
@media screen and (max-width: 576px) {
    header{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .new-year-title{
        font-size: 1.9rem;
    }
}