header img{
    width: 1040px;
    height: 430px;
    margin: 50px 140px 120px;
    display: block;
    background: linear-gradient(#000000);
}
.new-year-title{
    position: relative;
    text-align: center;
    margin-top: -442px;
    color: #FFFFFF;
    font-size: 36px;
}
.new-year-photo{
    margin-top: 180px;
}
.off-day{
    text-align: center;
    color: #FF0000;
    font-size: 44px;
 }
.holiday{
    text-align: center;
    color: #FF0000;
    font-size: 12px;
    margin-top: -15px;
}
.categori{
    text-align: center;
    margin-top: -10px;
    margin-bottom: 28px;
}
.new-year-photo img{
    width: 620px;
    height: 500px;
    display: block;
    margin: auto;
}