header{
    background: linear-gradient(rgba(0, 0, 0, 0.621)), url(images/Banner\ Image.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding-top: 177px;
    padding-bottom: 177px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.new-year-title{
    position: relative;
    text-align: center;
    color: #FFFFFF;
    font-size: 2.25rem;
}
.off-day{
    text-align: center;
    color: #FF0000;
    font-size: 2.75rem;
    font-weight: bold;
 }
.holiday{
    text-align: center;
    color: #FF0000;
    font-size: 1.33rem;
    margin-top: -15px;
}
.categori{
    text-align: center;
    margin-top: -10px;
    margin-bottom: 28px;
}
.new-year-photo img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.new-year-party{
    background: linear-gradient(rgba(3, 1, 1, 0.562)), url(images/Vectorrr.png);
    width: 100%;
    height: auto;
    margin: 30px auto;
    display: flex;
    gap: 38px;
    color: #FFFFFF;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
.new-year-party h3{
    font-size: 1.9rem;
    padding: 30px;
}
.new-year-party p{
    font-size: .56rem;
    padding-left: 30px;
}
.new-year-party h6{
    font-size: .75rem;
    font-weight: bold;
    padding-left: 30px;
}
.party-2024{
    padding: 25px;
}
.new-year-place{
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
}
.join-btn{
    background-color: #FF0000;
    border: none;
    color: #FFFFFF;
    padding: 16px 32px;
    border-radius: 10px;
}
.color-item{
    color: #FF0000;
}

.main-offer-section{
    display: flex;
    margin: 120px auto;
    gap: 70px;
    align-items: center;
    justify-content: center;
}
.main-offer-section h5{
    color: #FF0000;
    font-size: 0.75rem;
}
.main-offer-section h3{
    color: #070211;
    font-size: 1.5rem;
}
.main-offer-section p{
    color: #07021191;
    font-size: 0.625rem;
}
.new-img-offer img{
    /* width: 360px;
    height: 360px;
    margin-right: 167px;
    margin-left: 119px; */
    width: 100%;
    height: auto;
}
.new-right-offer h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FF0000;
}
.new-right-offer p{
    color: #0702117e;
    font-size: 0.5rem;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}
.new-right-offer img{
    /* width: 65px;
    height: 65px; */
    width: 100%;
    height: auto;
}
.holiday-section{
    text-align: center;
    align-items: center;
}
.holiday-section h3{
    font-size: 1.3rem;
    font-weight: 500;
    color: #070211;
}
.holiday-section h1{
    font-size: 4.5rem;
    font-weight: bold;
    color: #070211;
    margin: 16px auto;
}
.holiday-section p{
    font-size: 1.25rem;
    font-weight: 500;
    color: rgba(7, 2, 17, 0.6);
}
.rectangle-section{
    background-image: url(images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    display: flex;
    margin: 65px auto;
    justify-content: center;
}
.rectangle-section img{
    width: 100%;
    height: auto;
    align-items: center;
}
.box-description h3{
    font-size: 1.5rem;
    font-weight: 500;
    color: #FF0000;
}
.box-description h1{
    font-size: 3rem;
    margin: 16px auto;
    color: #070211;
}
.box-description p{
    font-size: 1.25rem;
    font-weight: 500;
    color: rgba(7, 2, 17, 0.6);
}
.box-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.box-img img{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}
.subscribe-section{
    background-color: rgba(255, 0, 0, 0.05);
    margin: 120px auto;
    text-align: center;
    padding: 80px 0px;
}
.subscribe-section h1{
    font-size: 3rem;
    color: #070211;
}
.subscribe-section p{
    font-size: 1.25rem;
    font-weight: 500;
    color: rgba(7, 2, 17, 0.6);
}
.email-file input{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    font-size: 1.125rem;
    font-weight: 500;
    color: rgba(7, 2, 17, 0.3);
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.email-file button{
    padding-top: 23px;
    padding-bottom: 24px;
    padding-left: 56px;
    padding-right: 56px;
    margin-left: -4px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #FF0000;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}






/* hide  */
.hide{
    display: none;
}